.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    #2f4858 30%,
    #006b7a 40%,
    /* rgb(9, 10, 10) 70%, */ rgb(0, 142, 131) 80%
  ) !important;
}

.ui.secondary.pointing.menu .active.item {
  color: rgb(47, 72, 88);
}

.ui.celled.selectable.table {
  /* border: 0.6pt solid rgba(0, 142, 131, 0.55) !important; */
  /* background-color: #cf4545 !important; */
}

.ui.table th,
.ui.table td,
.ui.table {
  background-color: rgba(0, 142, 131, 0.02) !important;
  /* border: 0.2pt solid rgba(97, 145, 175, 0.25) !important; */
}
.problemRow {
  margin-top: 0;
  padding-top: 0 !important;
}

.ui.yellow.label,
.ui.yellow.labels .label {
  background-color: rgba(0, 142, 131, 0.7) !important;
  border-color: rgb(0, 142, 131) !important;
  color: #fff !important;
}

.ui.table tbody {
  font-weight: 600;
}

.ui.table thead th,
.ui.table thead td,
.ui.table tfoot th,
.ui.table tfoot td {
  background-color: rgba(0, 142, 131, 0.06) !important;
  /* border: 0.6pt solid rgba(47, 72, 88, 0.25) !important; */
}

.ui.table th {
  color: #2f4858 !important;
}
.ui.table td {
  color: #006b7a !important;
}

.ui.secondary.pointing.menu .item {
  color: rgb(0, 107, 122);
  font-weight: 500;
  font-size: 11pt;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(0, 107, 122) !important;
}

.ui.card > .extra,
.ui.cards > .card > .extra {
  border-top: 2px solid rgba(0, 142, 131, 0.15) !important;
  background-color: rgba(0, 142, 131, 0.06) !important;
}

.ui.cards > .teal.card,
.ui.teal.card,
.ui.teal.cards > .card {
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #008e83, 0 1px 3px 0 #d4d4d5;
  border: 1px solid #008e83;
  border-bottom: 0px;
  background-color: rgba(0, 142, 131, 0.02) !important;
}

.ui.teal.button {
  background-color: #008e83;
}

i.teal.icon {
  color: #008e83 !important;
}

i.green.icon {
  color: #37af6f !important;
}

i.red.icon {
  color: #cf4545 !important;
}

.ui.red.label {
  background-color: #cf4545 !important;
  border-color: #cf4545 !important;
  color: #fff !important;
}

.ui.red.button {
  background-color: #cf4545 !important;
}

.ui.secondary.pointing.menu .active.item:hover {
  color: #2f4858 !important;
}

.ui.secondary.pointing.menu .item:hover {
  color: #2f4858 !important;
}

.ui.menu.Nav {
  background-color: #2980b9;
}

.ui.modal {
  position: relative;
  height: auto;
}

/* .ui.card{
  border: 1px solid black !important;
} */
/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/homePageWallpaper.png") !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.Title span {
  font-size: 2.5em;
  font-weight: 300;
  color: white;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui.mini.modal {
  position: relative;
  height: auto;
  width: 360px;
}